.navbar {
  height: 70px;
  background-color: #172d3a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  font-weight: 700;
}

.navbar-left,
.navbar-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.flag {
  font-size: 32px;
}

.navbar-logo {
  font-size: 30px;
  font-weight: 800;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.user-icon {
  font-size: 32px;
}