.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 25px;
}

.search-input {
  width: 55%;
  padding: 18px 25px;
  border-radius: 18px;
  border: 8px solid #172d3a;
  background-color: #d9d9d9;
  font-size: 24px;
  outline: none;
}